<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
  <HEAD>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/home.css" />
		<link rel="stylesheet" type="text/css" href="/tabs.css" />
    <script type="text/javascript" src="/library/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/library/protovis-r3.2.js"></script>
    <title>Maven</title>

		<script type="text/javascript">
			$(document).ready(function() {

				//When page loads...
				$(".tab_content").hide(); //Hide all content
				$("ul.tabs li:first").addClass("active").show(); //Activate first tab
				$(".tab_content:first").show(); //Show first tab content

				//On Click Event
				$("ul.tabs li").click(function() {

					$("ul.tabs li").removeClass("active"); //Remove any "active" class
					$(this).addClass("active"); //Add "active" class to selected tab
					$(".tab_content").hide(); //Hide all tab content

					var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
					$(activeTab).fadeIn(); //Fade in the active ID content
					return false;
				});
			});
		</script>
  </HEAD>

  <BODY>
  	<div id = "header">
    	<div id = "logo"></div>
			<div class = "search">
				<form id = "search" method = "get">
					<input id = "search" type ="text" title = "Search for a friend" />
						<a class = "search_button" onclick = "#" href-"#"></a>
					</form>
				</div>
			</div>
    </div>

		<ul class="tabs">
		  <li><a href="#tab1">Your Stats</a></li>
	    <li><a href="#tab2">Friends Stats</a></li>
		</ul>
    <div class = "page">
			<div class="tab_container">
    		<div id="tab1" class="tab_content">            
          <div class = "leftcol">
            <script type="text/javascript" src="/javascript/bar_graph.js"></script>
          </div>    
    			<div class = "rightcol"><%= erb(:quotes, :layout => false) %></div>
				</div>
    		<div id="tab2" class="tab_content">
        	<div class = "leftcol onecol">
						<h2>Friend by percentage of boring status posts</h2>
						<script type="text/javascript" src="/javascript/friend_graph.js"></script>
					</div>
    		</div>
			</div>
		</div>
  </BODY>
</HTML>

