<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
  <HEAD>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/home.css" />
		<link rel="stylesheet" type="text/css" href="/tabs.css" />
		<link rel="stylesheet" type="text/css" href="/index.css" />
    <script type="text/javascript" src="/library/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/library/protovis-r3.2.js"></script>
    <title>Maven</title>

 	</HEAD>

  <BODY>
		<div id = "header">
    	<div id = "logo"></div>
		</div>
		<div class = "page">
			<div class = "header large">Find out what your friends are feeling </div>
			<div class = "header medium">Let our army of thousands of workers rate the status updates of your friends to determine who's boring, funny, and who just needs a hug</div>
			<div class = "header medium">Just connect with facebook, and we'll do the rest!</div>
			<a href = "http://crowdmaven.heroku.com/auth/facebook"><div class = "facebook_connect"></div></a>
		</div>
		<div></div>
 	</BODY>