<link rel="stylesheet" type="text/css" href="/table.css" /> 

<div class = "tableHeader">
	<h2>Funny quotes :)</h2>
</div>

<table>
	<tr>
		<td class = "quotes entry rightEntry oneCol">  "Omg one of my bffs is moving to Germany!!!! Watch out Europe!!!"</td>
	</tr>
	<tr>
		<td class = "quotes entry rightEntry oneCol even">"Limo to napa? Yes please!"</td>
	</tr>
	<tr>
		<td class = "quotes entry rightEntry oneCol"> "pretty much the most amazing thing ive seen in a long time... HAPPY FRIDAY!!!"</td>
	</tr>
	<tr>
		<td class = "quotes entry rightEntry oneCol even"> "So yesterday I learned how to line dance to a Bon Jovi song.  Yea, I know, I'm awesome."</td>
	</tr>
	<tr>
		<td class = "quotes entry rightEntry oneCol">  "Holy shit william gibson is in berkeley. Getting neuromancer signed"</td>
	</tr>
</table>
