<link rel="stylesheet" type="text/css" href="/table.css" /> 

<div class = "tableHeader">
	<h2>Friend Stats</h2>
</div>

<table>
	<tr>
		<td class = "entry rightEntry">Funny</td>
		<td class = "entry leftEntry">100</td>
	</tr>
	<tr>
		<td class = "entry rightEntry">Vulnerable</td>
		<td class = "entry leftEntry">100</td>
	</tr>
	<tr>
		<td class = "entry rightEntry">Vulnerable</td>
		<td class = "entry leftEntry">100</td>
	</tr>
	<tr>
		<td class = "entry rightEntry">Vulnerable</td>
		<td class = "entry leftEntry">100</td>
	</tr>
	<tr>
		<td class = "entry rightEntry">Vulnerable</td>
		<td class = "entry leftEntry">100</td>
	</tr>
</table>
