*{
}

#header{
	background-image: url("/images/header.jpg");
	background-position: 0 -56px;
	background-repeat: repeat-x;
	height: 100px;
	margin-bottom: 30px;
}

#logo{
	background-image: url("/images/logo.png");
	width: 300px;
	height: 100px;
	margin-left: 100px;
	float: left;
}

.graph_header{
	font-family: "arial";
}
body{
	background-color:  #E8F3FB;
}

.page{
	background-color: white;
	height: 500px;
	width: 1000px;
	margin: 0 auto;
	border-style: solid;
	border-color: #D8D8D8;
	border-width: 2px;
	margin-bottom: 50px;
	padding: 20px 20px 20px 20px;
}

.leftcol{
	height: 500px;
	float: left;
	width: 600px;
	border-right-color: #D8D8D8;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 40px;
}

.rightcol{
	float: right;
	width: 300px;	
	margin-top: 30px;
}

.onecol{
	width: 900px;
}

.special{
	color: green;
}


.search{
	background: url("/images/search_box.png") no-repeat scroll 0 0 transparent;
	float: right;
	height: 31px;
	margin: 24px 100px 0;
	position: relative;
	width: 240px;
}

.search input{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 11px;
	left: 25px;
	padding: 0;
	position: absolute;
	top: 9px;
	width: 150px;
	z-index: 1;
}

.search_button{
	background: url("/images/search_go.png") no-repeat scroll 0 0 transparent;
	height: 31px;
	outline: medium none;
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
}

a:hover{
	background-position: 0 -31px;
}

h2{
	color: #E64D38;
	font-style:strong;
}


